@font-face{
    src: url('/fonts/Karla/Karla-Regular.ttf');
    src: url('/fonts/Karla/Karla-Regular.ttf') format('truetype');
    font-family: 'Karla';
    font-weight: normal;
}

@font-face{
    src: url('/fonts/Karla/Karla-Bold.ttf');
    src: url('/fonts/Karla/Karla-Bold.ttf') format('truetype');
    font-family: 'Karla';
    font-weight: bold;
}

body{
    font-family: 'Karla', sans-serif !important;
    margin: 0;
}

input:focus , textarea:focus{
    outline: none;
}

.red-cta-btn{
    display: inline-block;
    background: #ED254E;
    color: #F0F7F4;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    transition: all .3s linear;    
    cursor: pointer;
    font-family: inherit;
}

.red-cta-btn:hover{
    transform: scale(1.05);
    transition: all .3s linear;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,.1);
}

.black-bg{
    background: #292F36;
    padding: 70px 0;
}

.slashed-card{
    display: flex;
    background: #ffffff;
    color: #292F36;
    width: 90%;
    margin: 120px auto 50px;
    overflow:hidden;
}

.slashed-card-info{
    width: 40%;
    padding: 30px;
    position: relative;
    z-index: 5;
}

.slashed-card-info h2{
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    position: relative;
    z-index: 10;
}

.slashed-card-info p{
    font-size: 18px;
    z-index: 7;
    position: relative;
    width: 110%;
}

.slashed-card-info hr{
    border: 3px solid #292F36;
    width: 26px;
    margin-left: 0;
    margin-top: -7px;
}

.slashed-card-info a{
    margin-top: 40px;
}

.slashed-card-demo{
    background: #ffffff;
    width: 200px;
    height: 600px;
    position: absolute;
    top: -10px;
    right: -65px;
    transform: rotate(-15deg);
    z-index: 6;
}

.slashed-card-img{
    width: 60%;
}

.slashed-card-img img{
    position: relative;
    left: -10%;
    width: 110%;
    height: 100%;
    z-index: 1;
}

.slashed-card label{
    font-size: 18px;
}

.slashed-card-info form {
    margin-top: 30px;
    position: relative;
    z-index: 10;
    width: 110%
}

.bar-input{
    width: 100%;
    border:none;
    border-bottom: 3px solid #292F36;
    margin: 20px 0;
    padding: 0 5px;
    font-size: 18px;
    background: transparent;
}

.bar-input:focus{
    border-color: #ED254E;
    outline: none;
}

.lightskin-input{
    border-color: #F0F7F4;
    color: #F0F7F4;
}

.slashed-card-info form input[type = "submit"] {
    margin-top: 30px;
}

.hipstar-rating{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: transparent;
    overflow: hidden;
    letter-spacing: 7px;
}

.hipstar-rating-full{
    position: absolute;
    top: 0;
    left: 0;
    color: #ED254E;
    white-space: nowrap;
    overflow: hidden;
}

.hipstar-rating-empty::before, .hipstar-rating-full::before{
    content: '\2605 \2605 \2605 \2605 \2605';
    font-size: 20px;
    -webkit-text-stroke: .5px #ED254E;
}

@media screen and (max-width: 1100px){
    .slashed-card-info hr{
        width: 19px;
    }
    .slashed-card-info h2{
        font-size: 40px;
    }

    .slashed-card-info p{
        font-size: 16px;
    }

}

@media screen and (max-width: 900px){
    .slashed-card-info a {
        margin-top: 10px;
    }

    .slashed-card{
        width: 90%;
    }
}

@media screen and (max-width: 800px){
    .slashed-card-info h2 {
        font-size: 30px;
    }

    .slashed-card-info hr {
        width: 13px;
        margin-top: -4px;
        border-width: 2px;
    }

    .slashed-card-info p {
        font-size: 14px;
    }

    .slashed-card-info a {
        margin-left: -20px;
    }

    .red-cta-btn{
        transform: scale(.8);
    }

    .slashed-card-info form input[type = "submit"] {
        margin-left: -13px;
    }
}

@media screen and (max-width: 662px){
    .slashed-card{
        overflow-x: hidden;
    }

    .slashed-card-info{
        text-align: left;
        width: 100%;
    }
    .slashed-card-demo{
        width: 0;
    }

    .slashed-card-img {
        width: 0;
    }

    .slashed-card-info p{
        width: 100%;
    }

    .slashed-card-info form {
        width: 96%;
    }

}