@font-face{
    src: url('/fonts/Karla/Karla-Regular.ttf');
    src: url('/fonts/Karla/Karla-Regular.ttf') format('truetype');
    font-family: 'Karla';
    font-weight: normal;
}

@font-face{
    src: url('/fonts/Karla/Karla-Bold.ttf');
    src: url('/fonts/Karla/Karla-Bold.ttf') format('truetype');
    font-family: 'Karla';
    font-weight: bold;
}

body{
    font-family: 'Karla', sans-serif !important;
}