@font-face{
    src: url('/fonts/Karla/Karla-Regular.ttf');
    src: url('/fonts/Karla/Karla-Regular.ttf') format('truetype');
    font-family: 'Karla';
    font-weight: normal;
}

@font-face{
    src: url('/fonts/Karla/Karla-Bold.ttf');
    src: url('/fonts/Karla/Karla-Bold.ttf') format('truetype');
    font-family: 'Karla';
    font-weight: bold;
}

body{
    font-family: 'Karla', sans-serif !important;
    margin: 0;
}

.red-cta-btn{
    display: inline-block;
    background: #ED254E;
    color: #F0F7F4;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    transition: all .3s linear;    
}

.red-cta-btn:hover{
    transform: scale(1.05);
    transition: all .3s linear;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,.1);
}