.mid-movie-card-wrapper{
    text-decoration: none;
}

.mid-movie-card-wrapper:hover .mid-movie-card-info p {
    border-bottom: 1px solid #ED254E;
}

.mid-movie-card{
    width: 250px;
    margin: 40px 10px 0;
    display: flex;
    flex-direction: column;
    height: 500px;
    transition: all .3s linear;
}

.mid-movie-card:hover{
    transform: scale(1.05);
    transition: all .3s linear;
    box-shadow: 1px 1px 5px 5px rgba(0,0,0,.1);
}

.mid-movie-card img{
    width: 100%;
    height: 72%;
}

.mid-movie-card-info{
    width: 100%;
    height: 28%;
    background: #000;
    text-align: center;
}

.mid-movie-card-info h3{
    color: #F0F7F4;
    font-weight: bold;
}

.mid-movie-card-info p{
    color: #ED254E;
    width:fit-content;
    margin: 0 auto;
}

@media screen and (max-width: 800px){
    .mid-movie-card {
        width: 200px;
        height: 400px;
    }
}

