.movie-details-section{
    padding: 0 !important;
    z-index: 3;
}

.movie-details-section-top{
    height: 700px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.movie-details-section-top-bg{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
}

.movie-details-section-top-demo{
    height: 175px;
    width: 110%;
    transform: rotate(-5deg);
    position: absolute;
    bottom: 50px;
    left: -5%;
    background: #292F36;
}

.movie-details-section-top-info{
    position: absolute;
    bottom: 210px;
    left: 0;
    width: calc(100% - 8vw);
    height: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
}

.movie-details-section-top-poster{
    width: 280px;
    height: 400px;
    position: relative;
    top: -250px;
}

.movie-details-section-top-info-deets{
    width: fit-content;
    text-align: center;
    padding: 35px 40px 10px;
    margin-right: auto;
}

.movie-details-section-top-info-deets h3{
    font-size: 30px;
    font-weight: bold;
    margin: 5px 0;
    color: #F0F7F4;
}

.movie-details-section-top-info-deets p{
    background: #ED254E;
    color: #000000;
    padding: 5px 10px 5px 5px;
    font-size: 20px;
    width: fit-content;
    margin: 10px auto;
}

.movie-details-section-top-info-deets p:before{
    content: '\2605';
    font-size: 15px;
    color: #000;
    margin-right: 2px;
}

.movie-details-section-top-info-btns{
    width: fit-content;
    padding-top: 25px;
}

.movie-details-section-top-info-btns button{
    width: 100%;
    margin-bottom: 20px;
}

.movie-details-section-mid{
    z-index: 5;
    color: #F0F7F4;
    text-align: left;
    padding: 0 4vw 50px;
    margin-top: -10px;
}

.movie-details-section-mid h4{
    font-size: 30px;
    margin: 10px 0;
}

.movie-details-section-red-line{
    border: 1px solid #ED254E;
    width: 40%;
    min-width: 250px;
    margin: 0;
}

.movie-details-section-mid-text{
    font-size: 20px;
    margin: 10px 0 30px;
}

.movie-details-section-mid-cast{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 0;
}

.movie-details-section-mid-cast a{
    color: #F0F7F4;
    background: #292F36;
    box-shadow: 0 4px 30px rgba(0,0,0,.25);
    width: fit-content;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 5px;
}

.movie-details-section-mid-cast span{
    width: fit-content;
    font-size: 16px;
    padding: 10px;
}

.movie-details-section-mid-cast hr{
    border: 1px solid #F0F7F4;
    height: 95%;
    margin: 0
}

.movie-details-review-header{
    text-align: left;
    font-size: 35px;
    color: #F0F7F4;
}

.movie-details-review-line{
    width: 18px;
    border: 3px solid #F0F7F4;
    margin: -35px 0 30px;
}

.movie-details-section-mid button{
    display: block;
    margin: 30px auto
}

@media screen and (max-width: 900px){
    .movie-details-section-top{
        height: 625px;
    }

    .movie-details-section-top-poster {
        width: 200px;
        height: 300px;
        top: -150px;
    }

    .movie-details-section-top-info-deets{
        padding: 0px 20px 10px;
        margin-top: -170px;
        text-align: left;
        padding: 35px 0px 10px;
        order: 3;
        width: 100%;
    }

    .movie-details-section-top-info-deets p{
        margin: 10px 0;
    }

    .movie-details-section-top-info{
        flex-wrap: wrap;
    }

    .movie-details-section-top-info {
        bottom: -20px;
        height: fit-content;
    }

    .movie-details-section-mid{
        margin-top: 30px;
    }

    .movie-details-section-top-info-btns{
        margin-top: 80px;
    }

    .movie-details-section-top-info-deets h3{
        font-size: 25px;
    }
}

@media screen and (max-width: 500px){
    .movie-details-section-top-poster {
        width: 150px;
        height: 220px;
        top: -145px;
    }

    .movie-details-section-top-info-btns{
        margin-top:0;
        margin-right: -10vw;
        width: 175px;
        padding-top: 10px;
    }

    .movie-details-section-top-info-btns button{
        transform: scale(.7) !important;
        margin-left: -4vw;
    }

    .movie-details-section-top {
        height: 560px;
    }
}




